<app-page-header [headerTitle]="headerTitle" [headerIcon]="headerIcon"></app-page-header>



<div class="row">
  <div class="col">

    <div class="row">
      <div class="col-4 mb-3">
        <label for="firstName">First Name:</label>
        <input disabled value="{{customer.firstName}}" type="text" name="firstName" id="firstName" class="form-control">
      </div>
      <div class="col-4 mb-3">
        <label for="lastName">Last Name:</label>
        <input disabled value="{{customer.lastName}}" type="text" name="lastName" id="lastName" class="form-control">
      </div>
    </div>

    <div class="row">
      <div class="col-4 mb-3">
        <label for="customerEmail">Email:</label>
        <input disabled type="email" value="{{ customer.email }}" name="email" id="customerEmail" class="form-control">
      </div>
      <div class="col-4 mb-3">
        <label for="customerPhone">Phone:</label>
        <input disabled value="{{customer.phone}}" type="tel" name="phone" id="customerPhone" class="form-control">
      </div>
    </div>
    <div class="row">
      <div class="col-8 mb-3">
        <label for="customerAddress">Address:</label>
        <input disabled value="{{customer.address}}" type="text" name="address" id="customerAddress"
          class="form-control">
      </div>
    </div>
    <div class="row" style="margin-bottom: 75px;">
      <div class="col-8 mb-3">
        <label for="customerNotes">Notes: </label>
        <textarea disabled name="notes" id="customerNotes" cols="30" rows="5"
          class="form-control">{{ customer.notes }}</textarea>
      </div>
    </div>
    <div class="fixed-bottom bg-light p-3 text-center">
      <a routerLink="/customers" class="btn btn-secondary">Back</a>
    </div>

  </div>
</div>
